# Ignore dependencies and environment files
node_modules/
**/node_modules/

.env
.env.local

# Ignore database and editor-specific files
*.db
.vscode

# Ignore logs and backup files
*.log
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and output directories
.out/
dist/
build/

# Ignore temporary and swap files
*.swp
*.tmp